{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Delete Account" %}{% endblock %}

{% block content %}
<!-- Last warning before deleting account -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2>Do you really want to delete your account, {{ user.username }}?</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="Yes, delete my account.">
            </form>
        </div>
    </div>
</div>
{% endblock %}