{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
        {% if q %}
            <h3>You Searched For {{ q }}</h3>
            {% if cocktails %}
            Results: {{ cocktails|length }}
            <br/>
            <br/>
            {% for cocktail in cocktails %}
                <a href="{% url 'post_detail' cocktail.slug %}">{{ cocktail }}</a><br/>
                {{ cocktail.headline|safe }}<br/><br/>
            {% endfor %}
            {% endif %}
        {% else %}

            <h3>Hey! You Forgot To Search For A Cocktail...</h3>
        {% endif %}
        </div>
    </div>
</div>
{%endblock%}